releases/0.3/make/property_intake_ai_v0_3.blueprint.json
{
  "name": "Property Intake AI v0.3",
  "_placeholders": {
    "GOOGLE_CONNECTION_ID": "Replace __IMTCONN__ in all Google Sheets modules",
    "SPREADSHEET_ID": "Replace spreadsheetId in all Google Sheets modules",
    "OPENROUTER_API_KEY": "Replace in HTTP Authorization header",
    "MODEL_NAME": "Default: openai/gpt-4o-mini"
  },
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "__IMTCONN__": "GOOGLE_CONNECTION_ID",
        "from": "drive",
        "mode": "select",
        "limit": 1,
        "sheetId": "INBOX",
        "spreadsheetId": "SPREADSHEET_ID",
        "tableFirstRow": "A1:Y1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "mapper": {},
      "filter": null,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "1. Google Sheets Watch Rows"
        },
        "notes": "Polls INBOX tab for new or updated rows."
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": null,
      "filter": null,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "2. Router"
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "GOOGLE_CONNECTION_ID"
              },
              "mapper": {
                "mode": "map",
                "values": {
                  "STATUS": "PROCESSING",
                  "UPDATED_AT": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"UTC\")}}"
                },
                "sheetId": "{{1.`__SHEET__`}}",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "SPREADSHEET_ID",
                "tableFirstRow": "A1:Y1",
                "valueInputOption": "USER_ENTERED"
              },
              "filter": {
                "name": "STATUS = NEW",
                "conditions": [
                  [
                    {
                      "a": "{{1.`STATUS`}}",
                      "b": "NEW",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 0,
                  "name": "3. Set STATUS = PROCESSING"
                }
              }
            },
            {
              "id": 4,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "handleErrors": false
              },
              "mapper": {
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "method": "post",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "Bearer OPENROUTER_API_KEY"
                  },
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  },
                  {
                    "name": "HTTP-Referer",
                    "value": "https://pro-nedvizh.ai"
                  },
                  {
                    "name": "X-Title",
                    "value": "PRO Nedvizh AI OS 0.3"
                  }
                ],
                "bodyType": "raw",
                "contentType": "application/json",
                "parseResponse": true,
                "body": "{\n  \"model\": \"MODEL_NAME\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 4096,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are the PRO Nedvizh property intake agent. Return ONLY valid JSON with no markdown. Schema keys: source, title, property_type, deal_type, city, district, address, price, currency, rooms, area_total, floor, photos (array of URLs), description_ai, telegram_text, instagram_text, reels_script, quality_score (0-100 integer). Use null for unknown scalars. Write Russian marketing copy. Do not fabricate price or address.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this real estate listing URL and return structured property data plus content drafts.\\n\\nSOURCE_URL: {{1.`SOURCE_URL`}}\"\n    }\n  ]\n}"
              },
              "filter": null,
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 0,
                  "name": "4. OpenRouter Chat Completions"
                },
                "notes": "Replace OPENROUTER_API_KEY and MODEL_NAME before activation."
              },
              "onerror": [
                {
                  "id": 8,
                  "module": "google-sheets:updateRow",
                  "version": 2,
                  "parameters": {
                    "__IMTCONN__": "GOOGLE_CONNECTION_ID"
                  },
                  "mapper": {
                    "mode": "map",
                    "values": {
                      "STATUS": "ERROR",
                      "ERROR": "{{4.error.message}}",
                      "UPDATED_AT": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"UTC\")}}"
                    },
                    "sheetId": "{{1.`__SHEET__`}}",
                    "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                    "spreadsheetId": "SPREADSHEET_ID",
                    "tableFirstRow": "A1:Y1",
                    "valueInputOption": "USER_ENTERED"
                  },
                  "filter": null,
                  "metadata": {
                    "designer": {
                      "x": 900,
                      "y": 200,
                      "name": "8. Error: HTTP → STATUS = ERROR"
                    }
                  }
                }
              ]
            },
            {
              "id": 5,
              "module": "json:ParseJSON",
              "version": 1,
              "parameters": {},
              "mapper": {
                "json": "{{4.data.choices[].message.content}}"
              },
              "filter": null,
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 0,
                  "name": "5. Parse AI JSON response"
                }
              },
              "onerror": [
                {
                  "id": 9,
                  "module": "google-sheets:updateRow",
                  "version": 2,
                  "parameters": {
                    "__IMTCONN__": "GOOGLE_CONNECTION_ID"
                  },
                  "mapper": {
                    "mode": "map",
                    "values": {
                      "STATUS": "ERROR",
                      "ERROR": "JSON parse failed: {{5.error.message}}",
                      "UPDATED_AT": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"UTC\")}}"
                    },
                    "sheetId": "{{1.`__SHEET__`}}",
                    "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                    "spreadsheetId": "SPREADSHEET_ID",
                    "tableFirstRow": "A1:Y1",
                    "valueInputOption": "USER_ENTERED"
                  },
                  "filter": null,
                  "metadata": {
                    "designer": {
                      "x": 1200,
                      "y": 200,
                      "name": "9. Error: JSON parse → STATUS = ERROR"
                    }
                  }
                }
              ]
            },
            {
              "id": 6,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "GOOGLE_CONNECTION_ID"
              },
              "mapper": {
                "mode": "map",
                "values": {
                  "STATUS": "AI_DONE",
                  "SOURCE": "{{5.source}}",
                  "TITLE": "{{5.title}}",
                  "PROPERTY_TYPE": "{{5.property_type}}",
                  "DEAL_TYPE": "{{5.deal_type}}",
                  "CITY": "{{5.city}}",
                  "DISTRICT": "{{5.district}}",
                  "ADDRESS": "{{5.address}}",
                  "PRICE": "{{5.price}}",
                  "CURRENCY": "{{5.currency}}",
                  "ROOMS": "{{5.rooms}}",
                  "AREA_TOTAL": "{{5.area_total}}",
                  "FLOOR": "{{5.floor}}",
                  "PHOTOS": "{{join(5.photos; \",\")}}",
                  "DESCRIPTION_AI": "{{5.description_ai}}",
                  "TELEGRAM_TEXT": "{{5.telegram_text}}",
                  "INSTAGRAM_TEXT": "{{5.instagram_text}}",
                  "REELS_SCRIPT": "{{5.reels_script}}",
                  "QUALITY_SCORE": "{{5.quality_score}}",
                  "ERROR": "",
                  "UPDATED_AT": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"UTC\")}}"
                },
                "sheetId": "{{1.`__SHEET__`}}",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "SPREADSHEET_ID",
                "tableFirstRow": "A1:Y1",
                "valueInputOption": "USER_ENTERED"
              },
              "filter": null,
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 0,
                  "name": "6. Write AI result + STATUS = AI_DONE"
                }
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu2.make.com",
    "notes": "Release 0.3 MVP — URL intake via OpenRouter. Replace GOOGLE_CONNECTION_ID, SPREADSHEET_ID, OPENROUTER_API_KEY, MODEL_NAME."
  }
}
