releases/0.5/make/full_pipeline.blueprint.json
{
  "name": "PRO Nedvizh Full Pipeline v0.5",
  "_placeholders": {
    "OPENROUTER_API_KEY": "Replace in HTTP Authorization header",
    "SPREADSHEET_ID": "Replace spreadsheetId in all Google Sheets modules",
    "SHEET_NAME": "Replace sheetId in all Google Sheets modules (default: INBOX)",
    "MODEL": "Default: openai/gpt-4o-mini"
  },
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "from": "drive",
        "mode": "select",
        "limit": 1,
        "sheetId": "SHEET_NAME",
        "spreadsheetId": "SPREADSHEET_ID",
        "tableFirstRow": "A1:X1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "mapper": {},
      "filter": null,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "1. Google Sheets Watch Row"
        },
        "notes": "Polls SHEET_NAME for new or updated rows."
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": null,
      "filter": null,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "2. Router — intake filter"
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": {},
              "mapper": {
                "mode": "map",
                "values": {
                  "STATUS": "PROCESSING",
                  "UPDATED_AT": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"UTC\")}}"
                },
                "sheetId": "{{1.`__SHEET__`}}",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "SPREADSHEET_ID",
                "tableFirstRow": "A1:X1",
                "valueInputOption": "USER_ENTERED"
              },
              "filter": {
                "name": "STATUS = NEW and SOURCE_URL present",
                "conditions": [
                  [
                    {
                      "a": "{{1.`STATUS`}}",
                      "b": "NEW",
                      "o": "text:equal"
                    },
                    {
                      "a": "{{1.`SOURCE_URL`}}",
                      "b": "",
                      "o": "text:notequal"
                    }
                  ]
                ]
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 0,
                  "name": "3. Set STATUS = PROCESSING"
                }
              }
            },
            {
              "id": 4,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "handleErrors": false
              },
              "mapper": {
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "method": "post",
                "headers": [
                  {
                    "name": "Authorization",
                    "value": "Bearer OPENROUTER_API_KEY"
                  },
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  },
                  {
                    "name": "HTTP-Referer",
                    "value": "https://pro-nedvizh.ai"
                  },
                  {
                    "name": "X-Title",
                    "value": "PRO Nedvizh AI OS 0.5"
                  }
                ],
                "bodyType": "raw",
                "contentType": "application/json",
                "parseResponse": true,
                "body": "{\n  \"model\": \"MODEL\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 4096,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are the PRO Nedvizh property parser. The user message contains a single real estate listing URL. Return ONLY valid JSON. No markdown. No code fences. No commentary. No text before or after the JSON object. Never explain. Schema keys: title, price, currency, city, district, address, rooms, floor, total_area, living_area, kitchen_area, property_type (apartment|room|house|townhouse|land|commercial|garage|other), deal_type (sale|rent|daily_rent), photos (array of image URL strings), description_ai, telegram_text, instagram_text, reels_script, quality_score (integer 0-100). Use null for unknown scalars. Use [] for empty photos. Write Russian marketing copy. Do not fabricate price or address.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{1.`SOURCE_URL`}}\"\n    }\n  ]\n}"
              },
              "filter": null,
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 0,
                  "name": "4. OpenRouter HTTP Request"
                },
                "notes": "Replace OPENROUTER_API_KEY and MODEL before activation."
              },
              "onerror": [
                {
                  "id": 8,
                  "module": "google-sheets:updateRow",
                  "version": 2,
                  "parameters": {},
                  "mapper": {
                    "mode": "map",
                    "values": {
                      "STATUS": "ERROR",
                      "ERROR": "HTTP {{4.error.statusCode}}: {{4.error.message}}",
                      "UPDATED_AT": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"UTC\")}}"
                    },
                    "sheetId": "{{1.`__SHEET__`}}",
                    "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                    "spreadsheetId": "SPREADSHEET_ID",
                    "tableFirstRow": "A1:X1",
                    "valueInputOption": "USER_ENTERED"
                  },
                  "filter": null,
                  "metadata": {
                    "designer": {
                      "x": 900,
                      "y": 250,
                      "name": "8. Error: HTTP → STATUS = ERROR"
                    }
                  }
                }
              ]
            },
            {
              "id": 5,
              "module": "json:ParseJSON",
              "version": 1,
              "parameters": {},
              "mapper": {
                "json": "{{4.data.choices[].message.content}}"
              },
              "filter": null,
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 0,
                  "name": "5. Parse AI JSON Response"
                }
              },
              "onerror": [
                {
                  "id": 9,
                  "module": "google-sheets:updateRow",
                  "version": 2,
                  "parameters": {},
                  "mapper": {
                    "mode": "map",
                    "values": {
                      "STATUS": "ERROR",
                      "ERROR": "JSON parse failed: {{5.error.message}}",
                      "UPDATED_AT": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"UTC\")}}"
                    },
                    "sheetId": "{{1.`__SHEET__`}}",
                    "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                    "spreadsheetId": "SPREADSHEET_ID",
                    "tableFirstRow": "A1:X1",
                    "valueInputOption": "USER_ENTERED"
                  },
                  "filter": null,
                  "metadata": {
                    "designer": {
                      "x": 1200,
                      "y": 250,
                      "name": "9. Error: JSON parse → STATUS = ERROR"
                    }
                  }
                }
              ]
            },
            {
              "id": 6,
              "module": "builtin:BasicRouter",
              "version": 1,
              "parameters": {},
              "mapper": null,
              "filter": null,
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 0,
                  "name": "6. Validate JSON"
                }
              },
              "routes": [
                {
                  "flow": [
                    {
                      "id": 7,
                      "module": "google-sheets:updateRow",
                      "version": 2,
                      "parameters": {},
                      "mapper": {
                        "mode": "map",
                        "values": {
                          "STATUS": "AI_DONE",
                          "SOURCE": "{{if(contains(1.`SOURCE_URL`; \"cian.ru\"); \"cian\"; if(contains(1.`SOURCE_URL`; \"avito.ru\"); \"avito\"; if(contains(1.`SOURCE_URL`; \"yandex.ru\"); \"yandex_realty\"; if(contains(1.`SOURCE_URL`; \"domclick.ru\"); \"domclick\"; \"unknown\"))))}}",
                          "TITLE": "{{5.title}}",
                          "PROPERTY_TYPE": "{{5.property_type}}",
                          "DEAL_TYPE": "{{5.deal_type}}",
                          "CITY": "{{5.city}}",
                          "DISTRICT": "{{5.district}}",
                          "ADDRESS": "{{5.address}}",
                          "PRICE": "{{5.price}}",
                          "CURRENCY": "{{5.currency}}",
                          "ROOMS": "{{5.rooms}}",
                          "AREA_TOTAL": "{{5.total_area}}",
                          "FLOOR": "{{5.floor}}",
                          "PHOTOS": "{{join(5.photos; \",\")}}",
                          "DESCRIPTION_AI": "{{5.description_ai}}",
                          "TELEGRAM_TEXT": "{{5.telegram_text}}",
                          "INSTAGRAM_TEXT": "{{5.instagram_text}}",
                          "REELS_SCRIPT": "{{5.reels_script}}",
                          "QUALITY_SCORE": "{{5.quality_score}}",
                          "ERROR": "",
                          "UPDATED_AT": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"UTC\")}}"
                        },
                        "sheetId": "{{1.`__SHEET__`}}",
                        "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                        "spreadsheetId": "SPREADSHEET_ID",
                        "tableFirstRow": "A1:X1",
                        "valueInputOption": "USER_ENTERED"
                      },
                      "filter": {
                        "name": "Required fields present",
                        "conditions": [
                          [
                            {
                              "a": "{{5.title}}",
                              "b": "",
                              "o": "text:notequal"
                            },
                            {
                              "a": "{{5.description_ai}}",
                              "b": "",
                              "o": "text:notequal"
                            },
                            {
                              "a": "{{5.telegram_text}}",
                              "b": "",
                              "o": "text:notequal"
                            },
                            {
                              "a": "{{5.instagram_text}}",
                              "b": "",
                              "o": "text:notequal"
                            },
                            {
                              "a": "{{5.reels_script}}",
                              "b": "",
                              "o": "text:notequal"
                            },
                            {
                              "a": "{{5.property_type}}",
                              "b": "",
                              "o": "text:notequal"
                            },
                            {
                              "a": "{{5.deal_type}}",
                              "b": "",
                              "o": "text:notequal"
                            },
                            {
                              "a": "{{5.quality_score}}",
                              "b": "0",
                              "o": "number:greaterorequal"
                            },
                            {
                              "a": "{{5.quality_score}}",
                              "b": "100",
                              "o": "number:lessorequal"
                            }
                          ]
                        ]
                      },
                      "metadata": {
                        "designer": {
                          "x": 1800,
                          "y": 0,
                          "name": "7. Update Sheet — STATUS = AI_DONE"
                        },
                        "notes": "Writes property fields, quality score, generated texts. Row is ready for Telegram/Instagram stage."
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 10,
                      "module": "google-sheets:updateRow",
                      "version": 2,
                      "parameters": {},
                      "mapper": {
                        "mode": "map",
                        "values": {
                          "STATUS": "ERROR",
                          "ERROR": "JSON validation failed: missing or invalid required fields (title, description_ai, telegram_text, instagram_text, reels_script, property_type, deal_type, quality_score 0-100)",
                          "UPDATED_AT": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"UTC\")}}"
                        },
                        "sheetId": "{{1.`__SHEET__`}}",
                        "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                        "spreadsheetId": "SPREADSHEET_ID",
                        "tableFirstRow": "A1:X1",
                        "valueInputOption": "USER_ENTERED"
                      },
                      "filter": null,
                      "metadata": {
                        "designer": {
                          "x": 1800,
                          "y": 250,
                          "name": "10. Error: Validation → STATUS = ERROR"
                        }
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu2.make.com",
    "notes": "Release 0.5 — Full pipeline: Watch Row → Read URL → OpenRouter → Validate JSON → Update Sheet → AI_DONE → quality score + generated texts → ready for Telegram/Instagram. Replace OPENROUTER_API_KEY, SPREADSHEET_ID, SHEET_NAME, MODEL. Connect Google Sheets on import."
  }
}
