make/scenarios/intake_v1.blueprint.json
{
  "name": "Property Intake v1",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 100001,
        "from": "drive",
        "mode": "select",
        "limit": 1,
        "sheetId": "INBOX",
        "spreadsheetId": "",
        "tableFirstRow": "A1:Z1",
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING"
      },
      "mapper": {},
      "filter": null,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "Google Sheets Watch Rows"
        }
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": null,
      "filter": null,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "Router"
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 100001
              },
              "mapper": {
                "mode": "map",
                "values": {
                  "STATUS": "FETCHING"
                },
                "sheetId": "{{1.`__SHEET__`}}",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "{{1.`__SPREADSHEET_ID__`}}",
                "tableFirstRow": "A1:Z1",
                "valueInputOption": "USER_ENTERED"
              },
              "filter": {
                "name": "Status filter",
                "conditions": [
                  [
                    {
                      "a": "{{1.`STATUS`}}",
                      "b": "NEW",
                      "o": "text:equal"
                    }
                  ]
                ]
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 0,
                  "name": "Set STATUS = FETCHING"
                }
              }
            },
            {
              "id": 4,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 100001
              },
              "mapper": {
                "mode": "map",
                "values": {
                  "STATUS": "FETCHED"
                },
                "sheetId": "{{1.`__SHEET__`}}",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "{{1.`__SPREADSHEET_ID__`}}",
                "tableFirstRow": "A1:Z1",
                "valueInputOption": "USER_ENTERED"
              },
              "filter": null,
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 0,
                  "name": "Set STATUS = FETCHED"
                }
              }
            },
            {
              "id": 5,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 100001
              },
              "mapper": {
                "mode": "map",
                "values": {
                  "STATUS": "READY_FOR_AI"
                },
                "sheetId": "{{1.`__SHEET__`}}",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "{{1.`__SPREADSHEET_ID__`}}",
                "tableFirstRow": "A1:Z1",
                "valueInputOption": "USER_ENTERED"
              },
              "filter": null,
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 0,
                  "name": "Set STATUS = READY_FOR_AI"
                }
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu2.make.com"
  }
}
